/* Footer styles
-------------------------------------------------- */
#footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #B31F24;
   /* background-color:
        /* color overlay */
/*
    linear-gradient(
            rgba(236, 74, 11, 0.45),
            rgba(0, 0, 0, 0.45)
    ),
        /* image to overlay */
    /*url(./../images/bg-2-full.jpg);*/


}

/* Custom footer CSS
-------------------------------------------------- */
.container .text-muted {
    margin: 20px 0;
}
.footertext {
    color: #FFF;
}
#footer a {
    color: #232162;
}

