@import url(http://fonts.googleapis.com/css?family=Nunito|Arvo|Anton);

.container {
  li {
    font-family: 'Arvo', serif;
  }
  p {
    font-family: 'Nunito', sans-serif;
    text-align: justify;;
  }
  h1 {
    font-family: 'Anton', sans-serif;
    color: $dyna_dark_blue;
  }
  h2 {
    font-family: 'Anton', sans-serif;
    color: $dyna_blue;
  }
  h3 {
    font-family: 'Anton', sans-serif;
    color: $dyna_light_blue;
  }
  h4 {
    font-family: 'Anton', sans-serif;
    color: $dyna_light_red;
  }

  p.text-big {
    font-size: 150%;
  }
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
}


