$dyna_blue: #232162;
$dyna_light_blue: lighten(#232162, 30%);
$dyna_dark_blue: darken(#232162, 10%);

$dyna_red: #B31F24;
$dyna_light_red: lighten(#B31F24, 30%);
$dyna_dark_red: darken(#B31F24, 30%);
