<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">Nous coordonnées:</h3>
            <br>

            <div class="col-md-4">
                <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                <br>
                <h4 class="footertext">Nous contacter</h4>
                <ul class="footertext">
                    <li>Téléphone: 514.337.3377</li>
                    <li>Fax: 514-832-0989</li>
                    <li>Courriel: <a href="">dynagroup@dynagroup-tech.com</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                <br>
                <h4 class="footertext">Nous rendre visite</h4>
                <ul class="footertext">
                    <li>
                        Dynagroup Technologies
                    </li>
                    <li> 4070 Boulevard Poirier,</li>
                    <li> Ville St-Laurent, Québec,</li>
                    <li>Canada, H4R 2A5</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                <br>
                <h4 class="footertext">Nous retouver sur le web</h4>

                <p class="footertext">Facebook<br>

                <p class="footertext">Google+<br>

                <p class="footertext">Twitter<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <p><a href="#">Dynagroup Technologie</a>
                <p class="footertext">Copyright &copy; 2014</p></p>
                </div>

        </div>
    </div>
</div>